{% extends 'base.html' %}

{% block title %}contact{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
<img src="https://source.unsplash.com/user/erondu/1200x300/?phone,contact" class="d-block w-100" alt="...">
 
 </div>
<div class="container py-4">
<h1 class="text-center">Contact Us</h1>
<form method="post" action="/contact">
{% csrf_token %}
  <div class="form-group">
    <label for="firstname">firstname</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="enter your first name">
  </div>
   <div class="form-group">
    <label for="lastname">lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="enter your last name">
  </div>
  <div class="form-group">
    <label for="employeeid">employeeid</label>
    <input type="email" class="form-control" id="employeeid" name="employeeid" placeholder="enter your employee id">
  </div>
  <div class="form-group">
    <label for="city">city</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="enter your city">
  </div>
  <button class="btn btn-primary" type="submit">submit</button>
</form>

</div>
{% endblock body %}
     